/*  ==========
    Structure
    ========== */

.mainPanel {
    max-width: 1024px;
    background-color: var(--lightbodyColor);
    margin: auto; 
    padding: 10px; 
}

.outerFrame {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1024px;
    padding: 20px;  
}

.box {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 450px;
    padding: 25px;
    margin-top: 5%;
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    max-width: 500px;
    height: 400px;
    padding: 25px;
    margin-top: 5%;
}

section {
    display: flex;
    flex-wrap: wrap;
}


footer {
    max-width: 1024px;
    min-height: 150px;
    background-color: var(--darkbodyColor);
    margin:auto;
    margin-bottom: 50px;
}

/* quote box */
.quoteBackground {
    width: 400px;
    height: 450px;
    background-color: var(--accentColor);
    padding: 15%;
    box-shadow: 0px 0px 25px rgba(135, 135, 135, 0.5);
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align:left;
    line-height: 2.5;
    color: var(--darkText);
}

h4 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    line-height: 2;
    text-align: center;
    position: relative;
    top: 165px;
}

h5 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    line-height: 2;
    text-align: center;
    position: relative;
    color: var(--lightText);
    top: 165px;
}

.quote {
    text-align: right;
    color: var(--lightText);
    font-size: 3rem;
    font-weight: 700;
    user-select: all;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.666);
}

/* images of body of work */
.workLarge {
    width: 400px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../images/horiseon.png);
    background-size: 400px;
    margin-bottom: 4%;
    transition: all .5s ease-in-out;
}

.workSmall1 {
    width: 200px;
    height: 200px;
    border-radius: 30px 0px 0px 0px;
    background-image: url(../images/instagram.png);
    background-size: 200px;
    transition: all .5s ease-in-out;
}

.workSmall2 {
    width: 200px;
    height: 200px;
    border-radius: 0px 30px 0px 0px;
    background-color: var(--accentColor);
    transition: all .5s ease-in-out;
}

/* contact content */
#contactContainer {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    width: 400px;
    height: 140px;
    justify-content: space-between;
}

#icon {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 60px;
}



/*  ==========
    CSS Hover and Animation
    ========== */
.quote {    
    transition: all .2s ease-in-out; 
}
.quote:hover { 
    transform:scale(1.1);
    }


#icon {
        transition: all .5s ease-in-out;
    }
#icon:hover {
        transform: scale(1.5);
    }
.workLarge:hover,.workSmall1:hover,.workSmall2:hover {
        transform: scale(1.1);
    }