/* Basic style guide, Please change these values to update themes for the index.html */

:root {
    --lightText: #FFF;
    --darkText: #454545;
    --lightbodyColor: rgb(237, 237, 237);
    --darkbodyColor: #C4C4C4;
    --accentColor: #F3774D;
    --dropShadows: rgba(135, 135, 135, 0.5)
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header,.mainPanel,footer {
    box-shadow: 0px 0px 50px var(--dropShadows);
}

/* ====== Mobile test zone ====== */

@media only screen and (max-width: 600px) {

    .headTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.floatingLogo {
    margin-top: 10%;
}
section {
    width: 100vw;
}

.outerFrame {
    padding: 0px;
}


}